<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <%= render partial: "shared/card", locals: { cocktail: cocktail } %>
    </div>
    <% end %>
  </div>
</div>
